.Detail-Main {
  display: flex;
  margin-bottom: 20px;
}

.Detail-nav {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.Detail-text {
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
  border: none;
  height: 200px;
  overflow: auto;
  width: 770px;
}

.Detail {
  display: flex;
  flex-direction: column;
}

.Detail-towerImg {
  margin-right: 10px;
}

.img-name {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
  border: none;
}

.Detail-Main-options-ageBirth {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 17px;
  padding: 5px;
}

.Detail-Main-options-sexBlood {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 17px;
  padding: 5px;
}

.Detail-Main-options-heightWeight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 17px;
  padding: 5px;
}

.Detail-Name {
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}

.Detail-Main-options {
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
  border: none;
  margin-bottom: 20px;
  height: 200px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
}

.Detail-Main-Div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 810px;
}

.Detail-nav-agency {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  padding: 10px 20px 10px 10px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
  border: none;
  width: 375px;
}

.Detail-nav-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px 10px 10px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
  border: none;
  height: 30px;
  margin-right: 20px;
  width: 375px;
}

.Detail {
  margin-top: 150px;
}
.earthImg {
  margin-right: 10px;
}
.babyFaceImg {
  margin-bottom: 20px;
}
.Detail-sex {
  display: flex;
  align-items: center;
}

.Detail-Main-options-specialNote {
  padding: 5px;
}

.Detail-options-form {
  margin-bottom: 16px;
}
