.a-form {
  display: grid;
  height: 600px;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
  grid-template-areas:
    "file name name name name"
    "file  birth birth blood blood"
    "file sex age hei wei"
    "file Uni Uni Uni Uni"
    "file Int Int Int Int"
    "file Int Int Int Int"
    "btn btn btn btn btn";
  gap: 15px;
  row-gap: 20px;
}

.a-form input,
.a-form select,
.a-form textarea {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.a-f-file {
  grid-area: file;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.a-f-f-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a-f-name {
  box-sizing: border-box;
  grid-area: name;
  border: 0;
  outline: none;
  width: 100%;
  font-size: 1rem;
  border-radius: 0 10px 0 0;
}
.a-f-age {
  grid-area: age;
  border: 0;
  outline: none;
}
.a-f-sex {
  grid-area: sex;
  border: 0;
  outline: none;
}
.a-f-birth {
  grid-area: birth;
  border: 0;
  outline: none;
}
.a-f-blood {
  grid-area: blood;
  border: 0;
  outline: none;
}
.a-f-height {
  grid-area: hei;
  border: 0;
  outline: none;
}
.a-f-weight {
  grid-area: wei;
  border: 0;
  outline: none;
}
.a-f-Uniqueness {
  grid-area: Uni;
  border: 0;
  outline: none;
  font-size: 1rem;
}
.a-f-Introduce {
  grid-area: Int;
  resize: none;
  border: 0;
  outline: none;
  font-size: 1rem;
}

.a-f-button {
  grid-area: btn;
  font-size: 1rem;
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  padding: 15px;
}

.a-f-button:hover {
  background-color: #66a6ff;
  color: white;
}
