.m-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.back {
  transform: translate3d(0px, -100vh, 0px);
  transition: all 700ms ease 0s;
}

.front {
  transform: translate3d(0px, 0vh, 0px);
  transition: all 700ms ease 0s;
}

.m-form {
  height: 101vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-f-title {
  color: white;
  font-size: 5rem;
  font-family: "Black Han Sans", sans-serif;
}
