.m-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: all 700ms ease 0s;
  object-fit: cover;
  transform: scale(100.3%);
}

.m-cards {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.m-cards a {
  text-decoration: none;
}

.m-card {
  transition: 0.5s ease-in-out;
  border-radius: 15px;
  width: 200px;
  height: 100px;
  background-color: #66a6ff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  padding: 5px;
}

.m-card:hover {
  transform: scale(1.1);
}

.m-c-item {
  width: 50px;
  height: 50px;
}

.back {
  transform: translate3d(0px, -100vh, 0px);
}

.front {
  transform: translate3d(0px, 0vh, 0px);
}

.m-form {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  justify-content: center;
  transition: all 700ms ease 0s;
}

.m-f-title {
  color: white;
  font-size: 5rem;
  font-family: "Black Han Sans", sans-serif;
}
