.w-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.w-f-item {
  font-size: 1rem;
  width: 100%;
  border: 0;
  box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 15px;
  transition: 0.2s ease-in-out;
}

.w-form button:hover {
  background-color: #66a6ff;
  color: white;
  cursor: pointer;
}
