.headerContent {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.header {
  width: 1200px;
  margin: 0 auto 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-item {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

.h-logo {
  width: 150px;
}
