.low-Card {
  border: 1px solid black;
  width: 500px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
  border: none;
}

.low-Title {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.low-content {
  padding-top: 5px;
}

.low {
  margin-top: 200px;
}
.low-Card-Tag {
  display: flex;
  margin: auto;
  width: 80%;
  padding: 10px;
}

.tagArrow {
  display: flex;
  justify-content: flex-start;
  width: 44%;
  margin: auto;
  padding: 10px;
}

.tagArrowFirst {
  display: flex;
  justify-content: flex-end;
  width: 44%;
  margin: auto;
  padding: 10px;
}

.rowArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.lowTitle {
  width: 80%;
  margin: auto;
  font-size: 1.4rem;
  box-sizing: border-box;
  padding-bottom: 3px;
}

.lowQualification-title {
  width: 100%;
  font-size: 1.4rem;
  box-sizing: border-box;
  padding-bottom: 3px;
  padding-top: 25px;
}

.lowQualification {
  width: 80%;
  margin: auto;
  margin-bottom: 10vh;
}

.lowQualification-box {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
  border: none;
}

.lowQualification-subTitle {
  padding-bottom: 15px;
}
.lowSubTitle {
  padding-bottom: 15px;
  width: 80%;
  margin: auto;
}
