.line {
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid black;
}
.Community-searchInput {
  font-size: 1rem;
  padding: 0.7rem 0.8rem;
  width: 100%;
  border: none;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
}
.CommunitySearchImg {
  padding-right: 10px;
}
.searchMain {
  display: flex;
  align-items: center;
  width: 100%;
}
.CommunityMain-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 20px 10px 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
  border: none;
}
.searchMainMenu {
  display: flex;
  text-align: center;
  width: 80%;
  margin: auto;
}
.searchMainMenuTitle {
  height: 2rem;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  border-radius: 15px;
  color: #65666a;
}
.searchMainMenuTitle:hover {
  background-color: rgb(239, 239, 239);
}
.searchMainMenuWriter:hover {
  background-color: rgb(239, 239, 239);
}
.searchMainMenuWriter {
  height: 2rem;
  color: #65666a;
  padding: 10px;
  width: 50%;
  margin-top: 10px;
  border-radius: 15px;
}
.CommunityMainForm {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10vh;
}

.choice {
  background-color: rgb(239, 239, 239);
}
